@import 'calender.css';
@import 'board.css';
@import 'day.css';


*, *::after , *::before {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

}