.board{
    display: flex;
    flex-direction: column;
}
.nav-board{
    display: flex;
    justify-content: space-around;
    padding: 1rem;

}
/* .nav-board span:nth-child(3){
    align-self: flex-end;
} */
.days{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.days-numbers{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-row-gap: 1rem;
}

.days-numbers span{
    text-align: center;
}